@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .promo {
        padding-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding-bottom: 30px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        margin: 0;
        padding-left: 20px;
        
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 20px 320px;
                column-gap: 20px; 
            }
        }
    }
    .hamburger {
        right: 20px;
        span {
            height: 3px;
            background-color: white;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .hamburger {
        right: 20px;
        span {
            height: 3px;
            background-color: white;
        }
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
        .about {
            padding-top: 40px;
            &__wrapper {
                grid-template: 400px auto auto / 1fr;
            }
            &__photo {
                grid-row: unset;
            }
            &__skills {
                grid-template-columns: repeat(2, 260px);
                &-item {
                    grid-template-columns: 20px 200px;
                    column-gap: 20px; 
                }
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 425px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
        span {
            height: 3px;
            background-color: $main-color;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 20px 200px;
                column-gap: 20px; 
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
            grid-template-columns: 1fr;
        }
        &__ratings {
            margin-top: 60px;
            grid-template: repeat(6,minmax(70px,auto))/repeat(1, auto)
        }
    }
    .portfolio {
        &__wrapper {
            margin-top: 40px;
            grid-template: repeat(2,63px)/repeat(1,70px);
        }
    }
    .prais {
        padding-top: 120px;
        &__list {
            grid-template: repeat(3,45px)/repeat(1,290px);
        }
    }
    .contacts {
        padding-top: 60px;
        &__title, &__text, &__subtitle {
            padding: 0;
            text-align: center;
            &::before {
                left: 101px;
            }
        }
        &__triggers {
            column-gap: 64px;
            font-size: 11px;
            line-height: 13px;
        }
        &__form {
            padding-right: 14px;
            grid-template: 45px 133px 39px/repeat(2,140px);
            row-gap: 16px;
        }
        &__social {
            padding-left: 30px;
            display: flex;
            justify-content: center;
        }
        &__wrapper {
            padding: 0;
            grid-template-columns: 306px;
        }
        &__photo {
            img {
                width: 0;
            }
        }
        &__btn {
            line-height: 13px;
            font-size: 12px;
        }
        &__descr {
            .divider {
                margin: 0 125px;
            }
        }
    }
}